<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjb.springbootjjwt.mapper.PageMapper">
    <insert id="addPage" parameterType="com.pjb.springbootjjwt.entity.Page" >
        insert into page (userId,categoryId,link,title,keywords)
        values (#{userId},#{categoryId},#{link},#{title},#{keywords})
    </insert>

    <select id="findPageByUserIdAndCategoryId" resultType="com.pjb.springbootjjwt.entity.Page">
        SELECT * FROM page
        where
        userId=#{userId} and categoryId=#{categoryId};
    </select>

</mapper>