<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjb.springbootjjwt.mapper.PageMapper">
    <insert id="addPage" parameterType="com.pjb.springbootjjwt.entity.Page" >
        insert into page (userId,categoryId,link,title,keywords)
        values (#{userId},#{categoryId},#{link},#{title},#{keywords})
    </insert>

    <select id="findPageByUserIdAndCategoryId" resultType="com.pjb.springbootjjwt.entity.Page_Get">
        SELECT * FROM page
        where
        userId=#{userId} and categoryId=#{categoryId};
<!--        SELECT userId,categoryId,title,link,keywords,create_time(operation_time,'%Y-%m-%d %H:%i:%S'),update_time(operation_time,'%Y-%m-%d %H:%i:%S') FROM page-->
<!--        where-->
<!--        userId=#{userId} and categoryId=#{categoryId};-->
    </select>

    <select id="findPageByLink" resultType="com.pjb.springbootjjwt.entity.Page_Get">
        SELECT * FROM page
        where
        userId=#{userId} and link=#{link};
    </select>

</mapper>