<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjb.springbootjjwt.mapper.SourceMapper">
    <insert id="addSource" parameterType="com.pjb.springbootjjwt.entity.Source">
        insert into source (userId,sourceId,text,tint,note,link,startMeta_parentTagName,startMeta_parentIndex,startMeta_textOffset,endMeta_parentTagName,endMeta_parentIndex,endMeta_textOffset)
        values (#{userId},#{sourceId},#{text},#{tint},#{note},#{link},#{startMeta.parentTagName},#{startMeta.parentIndex},#{startMeta.textOffset},#{endMeta.parentTagName},#{endMeta.parentIndex},#{endMeta.textOffset})
    </insert>

    <delete id="deleteSource" parameterType="String"  >
        delete from source where userId = #{userId} and sourceId=#{sourceId};
    </delete>
</mapper>